body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #faf3e0;
    color: #5b3a29;
}

.directory-container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(91, 58, 41, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

table.directory, th, td {
    border: 1px solid #5b3a29;
}

th {
    background-color: #a67b5b;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #fdebd0;
}

.button {
    color: #fff;
    background-color: #5b3a29;
}

.button:hover {
    background-color: #8c6249;
}
